* {
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: #2afc98;
    color: #214f4b;
}

table {
    margin: 0 auto;
}

tr {
    border-bottom: 1px solid #ccc;
    display: block;
}

tr:nth-of-type(3),
tr:nth-of-type(6) {
    border-bottom: 1px solid #000;
}

td {
    border-right: 1px solid #ccc;
}

td:nth-of-type(3),
td:nth-of-type(6) {
    border-right: 1px solid #000;
}

input {
    height: calc(100vh / 10);
    width: calc(100vh / 10);
    background-color: #efefef;
    font-size: 7vh;
    text-align: center;
}

input:invalid,
.invalide {
    border: 1px solid red;
    background-color: #eec3c3;
}