* {
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: #e5ecf3;
}

.navbar {
    justify-content: center;
}


/*
#sudokuBoard {
    width: 30rem;
    height: 30rem;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
*/

#sudokuBoard {
    display: grid;
    grid-template-columns: repeat(9, 100px);
    grid-template-rows: repeat(9, 100px);
    justify-content: center;
}

.cell {
    border: solid black;
    background-color: aliceblue;
    text-align: center;
    font-size: 72px;
}

.controls {
    display: flex;
    justify-content: center;
}